<!DOCTYPE html>
<html>
    <head>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47773054-1', 'anasalkhatib.ca');
            ga('send', 'pageview');

        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/about">about</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Anas Alkhatib<br />
                Software Engineer<br />
                anas.alkhatib@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/alkhatib">github.com/alkhatib</a><br />
                <a href="https://twitter.com/anasalkhatib">twitter.com/anasalkhatib</a><br />
                <a href="https://linkedin.com/in/anasalkhatib">linkedin.com/in/anasalkhatib</a><br />
                <a href="http://stackoverflow.com/users/275583/anas-alkhatib">stackoverflow.com/users/275583/anas-alkhatib</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
